form input {
    outline-width: 0;
    border-style: none;
}

form textarea{
    outline-width: 0;
    border-style: none;
}
#submit{
    color: rgb(14, 105, 223);
    background-color: rgb(164, 244, 255);
    font-weight: bolder;
    font-size:15px;
    padding: 10px;
    border-radius: 12px;

}


form div {
    margin-bottom: 5px;
    text-align: start;
    color: rgb(14, 105, 223);
    font-family: 'Encode Sans Condensed', sans-serif;
}

h3{
    text-align: center;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched{
    border-left: 2px solid rgb(0, 214, 214);
    border-right: 2px solid rgb(0, 214, 214);
    border-bottom: 2px solid rgb(0, 214, 214);
    border-top: 2px solid rgb(0, 214, 214);
}

