<!--The content below is only a placeholder and can be replaced.-->
<div id= "header">
  <h1>
     {{ title }}'s Portfolio Page!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/images/mypic.jpg">
  <app-skills></app-skills>
  <app-greeting></app-greeting>
  <div id= "city">
    City: {{city}}, CA.
  </div>
<div id= "tagLine">
  Tag Line: {{tagLine}}
</div>
<div id= "aboutMe">
  About Me: {{aboutMe}}
</div>

  
</div>

<app-contacts></app-contacts>
<app-contact-form></app-contact-form>
<app-phone-book></app-phone-book>




